<div class="container">
  <div class="row"> 
    <h3 class="card">{{article.title}}</h3>
    <h5 class="card-panel articleBody">{{body}}</h5>
    
  </div>


  <div class="row">
      <div class="col s4">
        <h5 class="card-panel">Comments:</h5>
          {{#if article.comment}}
            {{#each article.comment}}
              <div class="card">
                <p class="comment">{{name}}</p>
                <p class="commentBody">{{body}}<p>
              </div>
            {{/each}}
            {{else}}
            <p class="card-panel">No Comments available</p>
          {{/if}}
      </div>
      <div class="col s1"></div>
      <form action="/comment/{{article._id}}" method="POST" class="card-panel col s7">
      <h5>Submit a Comment:</h5>
        <div class="row">
          <div class="input-field">
            <input id="icon_prefix" type="text" placeholder="Name" name="name" class="validate active">
          </div>
          <div class="input-field">
            <input id="icon_telephone" type="text" placeholder="Comment" name="comment" class="validate active">
          </div>
        </div>
     
        <div class="row">
          <div class="input-field">
          <center><input class="btn " type="submit" value="Submit"></center>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>